tissue_segmentation/database/
tissue_segmentation/tile_database/
tumor_segmentation/database/
tumor_segmentation/tile_database/
wandb/
__pycache__/
.idea/
.ipynb_checkpoints/

*.hdf5
*.iws
*.xml
*.iml
